
md-toolbar.md-default-theme {background-color: #FFFFFF;color: #fff;}.md-icon-button{color: #ccc;}.md-button.md-default-theme:not([disabled]) {background-color: #BDC0CE;}

input{
    margin-top:20px;
    font-size:16px;
    font-weight: bold;
    padding:5px 10px; border:solid thin #16A2D7;
}
.boxs{
    margin:50px auto;
    width:100%;
    height:70px;
    color:#fff;
    padding-top:16px; border:dashed #16A2D7;
    border-radius: 1%;
}
.fa{
    color: white !important;
}

.md-icon-button{
  color: #ccc;
}
.md-button.md-default-theme:not([disabled]) {
  background-color: #BDC0CE;
}
.file-manipulation{
  margin-left: 65px;
  /*background-color:#ccc;*/
}
.formatter{
  margin-left: 245px;
}
.upload_new{
  height: 30px;
  width: 30px;
}
.add_folder{
  height: 30px;
  width: 30px;
  margin-left: 4px;
}
.file_options{
  margin-top: 10px;
}
.f-add{
  width: 80px;
}
img{
  width: 40px;
}
input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}


.inputs input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.inputs input[type="text"]:focus,
.inputs input[type="text"].focus {
  border: solid 1px #B0E0E6;
  box-shadow: 0 0 5px 1px white;
}
.inputs .focus{
  width: 200px;
}
.inputs  .fa-search {
  position: absolute;
  padding-left: 180px;
  color: #ccc;
  top: 10px;
  left: 10px;
}
input[type="text"].focus::-webkit-input-placeholder {
  font-size: 12px;
  opacity: 1;
}
input[type="text"].focus:-moz-placeholder { /* Firefox 18- */

}
input[type="text"].focus::-moz-placeholder {  /* Firefox 19+ */

}
input[type="text"].focus:-ms-input-placeholder {

}
.search{
  /*background-color:#BDC0CE;*/
}
