<md-dialog aria-label="Upload" style="margin-top:25px;">
          <form>
            <md-toolbar>
              <div class="md-toolbar-tools">
                <h2 style="color:#ccc">Message</h2>
                <span flex></span>
                <md-button style="color:black;" class="md-icon-button" ng-click="cancel()">
                  <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
              </div>
            </md-toolbar>
            <md-dialog-content>
              <div ng-controller="messagingCtrl" style="margin-left:145px;">
                    <div class="col-xs-12">
                          <div class="col-xs-12">
                              <div class="col-md-12" style="margin-left:-180px;">
                                    <div>
                                      <input ng-model="message.phone" class="form-control" /><br />
                                      <textarea ng-model="message.body" class="form-control" style="width:400px;"></textarea>
                                      <input  class="btn btn-info" value="Send" ng-click="sendMessage(message)"/>
                                    </div>
                              </div>
                          </div>
                      </div>
              </div>

            </md-dialog-content>

          </form>
        </md-dialog>
