    /*
    Flaticon icon font: Flaticon
    Creation date: 18/03/2016 04:30
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-bin:before { content: "\f100"; }
.flaticon-can:before { content: "\f101"; }
.flaticon-can-1:before { content: "\f102"; }
.flaticon-circle:before { content: "\f103"; }
.flaticon-connection:before { content: "\f104"; }
.flaticon-download:before { content: "\f105"; }
.flaticon-interface:before { content: "\f106"; }
.flaticon-interface-1:before { content: "\f107"; }
.flaticon-interface-2:before { content: "\f108"; }
.flaticon-linked-people:before { content: "\f109"; }
.flaticon-mark:before { content: "\f10a"; }
.flaticon-mp3:before { content: "\f10b"; }
.flaticon-multimedia:before { content: "\f10c"; }
.flaticon-music:before { content: "\f10d"; }
.flaticon-people:before { content: "\f10e"; }
.flaticon-people-1:before { content: "\f10f"; }
.flaticon-shared-doc:before { content: "\f110"; }
.flaticon-shared-folder:before { content: "\f111"; }
.flaticon-social:before { content: "\f112"; }
.flaticon-sound:before { content: "\f113"; }
.flaticon-symbol:before { content: "\f114"; }
.flaticon-talk-in-group:before { content: "\f115"; }
.flaticon-upload:before { content: "\f116"; }
.flaticon-uploaded:before { content: "\f117"; }
    
    $font-Flaticon-bin: "\f100";
    $font-Flaticon-can: "\f101";
    $font-Flaticon-can-1: "\f102";
    $font-Flaticon-circle: "\f103";
    $font-Flaticon-connection: "\f104";
    $font-Flaticon-download: "\f105";
    $font-Flaticon-interface: "\f106";
    $font-Flaticon-interface-1: "\f107";
    $font-Flaticon-interface-2: "\f108";
    $font-Flaticon-linked-people: "\f109";
    $font-Flaticon-mark: "\f10a";
    $font-Flaticon-mp3: "\f10b";
    $font-Flaticon-multimedia: "\f10c";
    $font-Flaticon-music: "\f10d";
    $font-Flaticon-people: "\f10e";
    $font-Flaticon-people-1: "\f10f";
    $font-Flaticon-shared-doc: "\f110";
    $font-Flaticon-shared-folder: "\f111";
    $font-Flaticon-social: "\f112";
    $font-Flaticon-sound: "\f113";
    $font-Flaticon-symbol: "\f114";
    $font-Flaticon-talk-in-group: "\f115";
    $font-Flaticon-upload: "\f116";
    $font-Flaticon-uploaded: "\f117";