<table class="table folders"  ng-controller="FolderController">
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Participant</th>
      </tr>
      <tr>
        <td  id="credits" style="display: none;">

          <input type="text" ng-model="folder.nested_name">

            <button aria-label="none" class="btn btn md-primary md-raised" onclick="$('#credits').toggle();" ng-click="create(folder)">
                              <i class='fa fa-plus'> </i> Create
            </button>
            <button class="btn btn md-primary md-raised" onclick="$('#credits').toggle();" data-dismiss="modal">
                            Cancel
            </button>

        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="folder in folders | filter: search" style="text-transform:none; margin-bottom:7px;max-height:4%;min-height:4%;padding-top:2px;margin-bottom:2px;">
        <td class="col-xs-4">
          <img ng-src="{{type('folder')}}" style="padding-right:2px;" />
        </td>
        <td>
          <a ng-click="showFilesIn(folder.id)" ui-sref="folder({ folderName: folder.name, folderId: folder.id,VisibleName:folder.name })">{{folder.name}} <span ng-if="folder.has_copy">({{folder.copy_count}})</span> </a>
          
        </td>
        <td>
          <button ng-click="deleteFolder(folder.id)" class="btn btn-info">delete</button>
        </td>
        <td ng-controller="dialogController" id="share">
          <button ng-click="shareFolder(folder.id)" class="btn btn-success share">Share</button>
        </td>
      </tr>
    </tbody>
</table>