<table class="table files" >
  <tbody ng-controller="FilesController">
    <tr  ng-repeat="file in files | filter: search">
      <td>
        <img ng-src="{{fileType(file.type)}}" style="padding-right:2px;" />
      </td>
      <td class="share-hood">
        <a ui-sref="preview({ preview: file.dropbox_name,extension:file.type,of:'of',user:file.user.username })">{{file.name}}</a>
        <button type="button" class="btn btn-success share" ng-click="shareFile(file.id)">Share</button>
      </td>
    </tr>
  </tbody>
</table>