<link rel="stylesheet" href="css/mdb.css" >

<!--Navbar-->
  <nav class="double-navbar navbar navbar-fixed-top z-depth-1" role="navigation">
      <div class="container-fluid">
          <div class="navbar-header pull-left">
              <!-- SideNav slide-out button -->
              <a href="#" data-activates="slide-out" class="button-collapse hidden-lg hidden-md"><i class="fa fa-bars"></i></a>
              <!--/. SideNav slide-out button -->
              <div class="breadcrumbs hidden-xs hidden-sm">
                  <!-- <h6>MDB Personal Blog</h6> -->
              </div>
          </div>

          <!-- Navbar Icons -->
          <ul class="list-inline pull-right text-center" ng-controller="previewController">
            <md-button aria-label="none"  class="md-primary md-raised"  flex="40"  flex-gt-md="auto">
                <span class="fa fa-share-alt"></span>
            </md-button>
            <md-button  aria-label="none"  class="md-primary md-raised"  flex="40" ng-click="doNext()" flex-gt-md="auto">
                <span style="color:white;" href="{{file_name}}" data-file-download="true" obj="file_name"    class="fa fa-long-arrow-down"></span>
            </md-button>
          </ul>
    <!--/. Navbar Icons -->
</div>
</nav>

<div style="margin-top:120px;border:1px solid #ccc;width:40px;margin-left:34px;">
  <keybinding on="right" invoke="goNext()" />
  <keybinding on="left" invoke="goPrev()" />
  <div ng-if="previewable">

    <pdf-viewer
            delegate-handle="my-pdf-container"
            url="pdfUrl"
            scale="1"

            show-toolbar="false">
    </pdf-viewer>
  </div>

</div>

<div ng-controller="previewController" ng-if="!previewable" layout="row" flex="60" style="margin-left:500px;">
  <!-- <md-button aria-label="none"  ng-click="download(file_name)"  class="md-primary md-raised" flex="40"  flex-gt-md="auto">
      Download now
  </md-button> -->
  <button style="color:white;" class="btn btn-info" href="{{file_name}}" data-file-download="true" obj="file_name" name="donwload"></button>
</div>

<div ui-view></div>
