<!DOCTYPE html>
<html>
<body>
  
    <div style="z-index:20000;" ng-controller="dialogController">
      <keybinding on="u+p" invoke="upload()" /></keybinding>
      <keybinding on="n" invoke="upload()" /></keybinding>
      <keybinding on="x" invoke="cancel()" /></keybinding>
      <keybinding on="alt+left" invoke="navigator()" /></keybinding>
      <keybinding on="m" invoke="messageWindow()" /></keybinding>
    </div>
    <div ng-if="dataLoading">
      <div class="progress-ring progress-large">
        <div class="progress-circle"></div>
        <div class="progress-circle"></div>
        <div class="progress-circle"></div>
        <div class="progress-circle"></div>
        <div class="progress-circle"></div>
      </div>
    </div>

      <div class="row">
        
        <button class="btn btn-success" onclick="$('#credits').toggle();" style="margin-left:134px;">[+]</button>
      </div>


      <div class="col-xs-12 col-xs-offset-5">
        <folders></folders>
        <files></files>
       
      </div>

      <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("active");
        });
      </script>
</body>

</html>