<div ng-controller="GroupController">
  <!-- inside isolated scope we put real scope from controller -->
   <my-groups show-box="showBox" user-id="userId" groups="group" followers="followers" emitted="emitted" show-people="addPeople" show-group="showGroup" files="files"></my-groups>
</div>

<!-- <div ng-controller="GroupController">
        <my-groups group-info="group" participants="followers" emitted="emitted" show="show"></my-groups>
        <div class="form-group">
          <label for="">group name</label>
          <input type="text" class="form-control" ng-model="info.name">
        </div>
        <button ng-click="createGroup(info)" class="btn btn-primary">CreateGroup</button>
</div> -->
