<div class="col-sm-1 visible-lg  signin-wrapper" ng-controller="loginController">
    <div class="dropdown  list-unstyled">
        <button href="#" class="dropdown-toggle signup" data-toggle="dropdown" style="margin-left:20px;"><b>Login</b></button>
        <ul id="login-dp" class="dropdown-menu">
            <li>
                
                    <div class="row">
                        

                            <div class="login-form-main-message"></div>
                            <form ng-submit="login(info)" ng-init="info={}; info.option='login'; info.remember=false">
                                <div>
                                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                        <input  type="text" class="form-control" id="exampleInputEmail2" placeholder="Email address" required ng-model="info.username" >
                                </div>
                                

                                <div>
                                        <label class="sr-only" for="exampleInputPassword2">Password</label>
                                        <input type="password"  class="form-control" id="exampleInputPassword2"placeholder="Password" required ng-model="info.password">
                                        <div class="help-block text-right"><a href="">Forgot the password ?</a></div>
                                </div>
                                <div class="form-group">
                                        <button type="submit"  class="btn btn-primary btn-block">Sign in</button>
                                </div>
                                <div class="form-group login-group-checkbox">
                                    <input type="checkbox"   id="remember" ng-click="info.remember=!info.remember" >
                                    <label for="lg_remember">remember me</label>
                                    </div>
                            </form>
                    </div>
                    <div class="bottom text-center">
                        Need to invest? <a href="#"><b>Join Us</b></a>
                    </div>
                
            </li>
        </ul>
    </div>

</div>