
<div class="shout_box">
    <div class="header" style="background:#00baff; border-top: #fff;border-left: #fff;">StrimUp ShoutBox<div class="close_btn">&nbsp;</div></div>
    <div class="toggle_chat">
        <div class="message_box">
            <div class="direct-chat-msg">
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left">Alexander Pierce</span>
                    <span class="direct-chat-timestamp pull-right">23 Jan 2:00 pm</span>
                </div><!-- /.direct-chat-info -->
                <img class="direct-chat-img" src="build/images/user1-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                    Is this StrimUo really for free? That's unbelievable!
                </div><!-- /.direct-chat-text -->
            </div>
            <div class="direct-chat-msg right">
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-right">Sarah Bullock</span>
                    <span class="direct-chat-timestamp pull-left">23 Jan 2:05 pm</span>
                </div><!-- /.direct-chat-info -->
                <img class="direct-chat-img" src="build/images/user3-128x128.jpg" alt="message user image"><!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                    You better believe it!
                </div><!-- /.direct-chat-text -->
            </div>
        </div>
        <div class="user_info" style="width:1500px;margin-left:-15px;">
            <input name="shout_message" id="shout_message" type="text" placeholder="Type Message Hit Enter" maxlength="100" />
        </div>
    </div>
</div>